.contact__parent {
    height: 60vh;
    background: url("../assets/img/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.bg_opacity {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 6, 248, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__content {
    text-align: center;
    
}
.contact__content h1 {
    font-size: 3rem;
    justify-content: center;
    color: rgba(253, 250, 239, 0.822);

}
.contact__content a{
   padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(248, 70, 0);
    color: white;
    text-decoration: none;
}