.contact__parent {
    height: 100vh;
}

.contact__bg {
    background-image: url("../assets/img/group1\ \(2\).jpg");
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.5;

   
}